<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <body>
      <header>
        <nav>
          <p>(logo)</p>
          <p class= "header">Chitter</p>
          <div class="links__container">
            <% if session[:user_id] == nil %>
              <a class="link" href="/login">Login to make a post</a>
              <a class="link" href="/new_user">Create an account</a>
            <% else %>
              <a class="link" href="/feed/new">Post a new Peep</a><br />
              <a class="link" href="/logout">Logout</a>
            <% end %>
           </div>
        </nav>
  </head>
  <hr />
  <body class= "body">
    <% @peeps.reverse.each do |peep| %>
      <p><%= peep.content %></p>
      <a class="link" href="/feed/<%= peep.id %>">
        Posted at <%= @time %> 
        on <%= @date %>
      </a>
      <hr />
    <% end %>
  </body>
</html>
