<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <body class="background">
      <header>
        <nav class="navbar">
          <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
          <a href="/"><img class= "logo2" src="chitter_title.png" alt="Chitter" /></a>
          <div class="links__container">
              <a class="nav__link"  href="/feed">Home</a><br />
              <a class="nav__link" href="/login">Login</a>
           </div>
        </nav>
  </header>
  <body>
    <center><h1>Goodbye!</h1></center>
  </body>
</html>
