<h1>Hi <%= session[:name] || "Unknown person"%></h1>

<form action="/name" method="POST">
    <input type="text" name="name" placeholder="Your name" />
    <input type="submit" value"Submit" /> 
</form>