<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
<hr />
<body>
  <a href="/feed">Home</a>
  <h1>Login Page</h1>
  <h3>Please enter login details below:</h3>
  <form method="POST" action="/login">
    Email: <input type="text" name="email" />
    Password: <input type="text" name="password" />
    <input type="submit" />
  </form>
  <hr />
</body>
</html>