<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="background">
    <header>
      <nav class="navbar">
        <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
        <a href="/"><img class= "logo2" src="chitter_title.png" alt="Chitter" /></a>
        <div class="links__container">
          <a class="nav__link" href="/feed">Home</a>
        </div>
      </nav>
      <center>
        <h2>Please enter your login details</h2>
      </center>
      <center><div class="container">
        <form class="container_info" action="/login" method="POST">
          <label for="email">Please enter email:</label>
          <input type="text" name="email" />
          </br>
          <label for="password">Please enter password:</label>
          <input type="text" name="password" />
          </br>
          <input type="submit" value="Submit" />
        </form>
      </div></center>
    </header>
  </body>
</html>
