<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <body>
      <header>
        <nav>
          <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
          <a href="/"><img class= "logo2" src="chitter_title.png" alt="Chitter" /></a>
          <div class="links__container">
              <a class="link" href="/login">Login</a><br />
           </div>
        </nav>
  </head>
  <hr />
  <body class= "body">
  <center><h1>Login Error!</h1></center>
    <a class="link" href="/login">Return to login page</a><br />
  </body>
</html>
