<html>
<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
  <body>
      <form action="/new_user" method="POST">
    <div>
      <label>Please enter name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label>Please enter email</label>
      <input type="text" name="email">
    </div>
    <div>
      <label>Please enter username</label>
      <input type="text" name="username">
    </div>
    <div>
      <label>Please enter password</label>
      <input type="text" name="password">
    </div>
      <label>Create</label>
      <input type="submit" />
    </div>
  </form>
</body>
</html>