<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="background">
    <header>
      <nav class="navbar">
        <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
        <a href="/"><img class="logo2" src="/chitter_title.png" alt="Chitter" /></a>
        <div class="links__container">
          <a class="nav__link" href="/feed">Home</a>
        </div>
      </nav>
      <center><section>
        <h2>What would you like to say?</h2>
      </section>
      <div class="container_info">
        <form action="/feed" method="POST">
          <input type="text" name="content" />
          <input type="submit" value="Submit" />
        </form>
      </div></center>
    </header>
  </body>
</html>
