<!DOCTYPE html>
<html>
  <head>
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body class="background">
      <header>
        <nav class="navbar">
          <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
          <a href="/"><img class= "logo2" src="chitter_title.png" alt="Chitter" /></a>
        <div class="links__container">
          <a class="nav__link" href="/feed">Home</a>
        </div>
      </nav>
      <center><section>
        <h1>Create an account</h1>
        <h2>
          Please enter the following details to set up a new account
        </h2>
      </section></center>
      <center><div class="container">
        <h2 class="form__header">Account Details</h2>
        <form class="form" action="/new_user" method="POST">
          <label for="name">Please enter name</label>
          <input type="text" name="name" />
          </br>
          <label  for="email">Please enter email</label>
          <input type="text" name="email" />
          </br>
          <label for="username">Please enter username</label>
          <input type="text" name="username" />
          </br>
          <label for="password">Please enter password</label>
          <input type="text" name="password" />
          </br>
          <input type="submit" value="Create" />
        </form>
      </div></center>
    </header>
  </body>
</html>
