<html>
<head>
  <meta charset=utf-8>
  <title>Chitter</title>
</head>
  <body>
      <form action="/feed" method="POST">
    <div>
      <label>Write peep content</label>
      <input type="text" name="content">
    </div>
      <label>Post peep</label>
      <input type="submit" />
    </div>
  </form>
</body>
</html>