<!-- Example for GET /feed/1 -->

<html>
  <head></head>
  <body>
    <h1><%= @peep.id %></h1>
    <p>
      <%= @peep.content %><br />
      <%= @time %><br />
      <%= @date %><br />
    </p>
  </body>
</html>