<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="background">
    <header>
      <nav class="navbar">
        <a href="/"><img class="logo" src="/chitter.png" alt="logo" /></a>
        <a href="/"><img class= "logo2" src="/chitter_title.png" alt="Chitter" /></a>
        <div class="navbar">
          <% if session[:user_id] == nil %>
            <a class="nav__link" href="/login">Login to make a post</a>
            <a class="nav__link" href="/new_user">Create an account</a>
          <% else %>
            <a class="nav__link" href="/feed/new">Post a new Peep</a><br />
            <a class="nav__link" href="/logout">Logout</a>
          <% end %>
          </div>
      </nav>
  </header>
  <center><div class= "container">
    <h2><%= @peep.id %></h2>
    <h2>
      <%= @peep.content %><br />
      <a class="search-btn">
      Posted at <%= @time %> 
      on <%= @date %>
      <a/>
    </h2>
  </div></center>
</html>